*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: rgb(57, 130, 124);
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card{
  height: 330px;
  width: 340px;
  background-color: aliceblue;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
  
}
.bottom{
  height: 30%;
  width: 100%;
  background: linear-gradient(transparent,black);
  position: absolute;
  bottom: -30%;
  transition: all ease 0.5s;
}
.card:hover .bottom{
bottom: 0;
}
.bottom{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 400px;
}
.bottom h3{
  color: white;
}
.bottom h4{
  background-color: white;
  color: black;
  padding: 5px 8px;
  border-radius: 50%;
}
.bottom h4:hover{
  color: red;
}