@font-face {
  font-family: marvel;
  src: url(./WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}
@font-face {
  font-family: normal;
  src: url(./WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main h1 img {
  height: 50px;
  margin-right: 15px;
}
main nav {
  padding: 45px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0%;
}
main nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  font-weight: 500;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main nav .signup {
  padding: 15px 20px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 14px;
  color: black;
  background-color: transparent;
}
main nav .login {
  padding: 15px 20px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 14px;
  background-color: black;
}
main .color {
  display: flex;
}
main .color .red {
  height: 600px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  margin-left: 40px;
}
main .color .blue {
  height: 500px;
  width: 40%;
  border-radius: 100px;
  margin-left: 40px;
}
main .color .blue video {
  width: 100%;
  border-radius: 50px;
}
main .hero1 {
  padding: 30px;
}
main .hero1 .title {
  font-size: 350%;
  font-family: marvel;
  word-spacing: 5px;
}
main .hero1 .title2 {
  font-size: 350%;
  font-family: marvel;
  margin-top: -25px;
  word-spacing: 5px;
}
main .hero1 p {
  font-size: 19px;
  width: 60%;
  margin-top: 8px;
}
main .hero1 #btns {
  margin-top: 35px;
}
main .hero1 #btns .b1 {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 300;
}
main .hero1 #btns .b2 {
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 300;
}
main .hero1 #btns .b3 {
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 300;
}
main .hero1 .inputbar {
  padding: 20px;
  width: 700px;
  border: none;
  border-radius: 40px;
  margin-top: 10px;
  color: black;
  background-color: rgba(252, 243, 243, 0.9254901961);
  outline: none;
}
main .hero1 .pop {
  margin-top: 12px;
  padding: 8px;
  font-size: 20px;
}
main .hero1 .pop .para {
  display: inline-block;
}
main .hero1 .type {
  padding: 6px 18px;
  border: none;
  border-radius: 50px;
  outline: none;
  font-size: 13px;
  font-weight: 100;
  background-color: rgb(223, 219, 219);
  color: black;
  font-family: normal;
}/*# sourceMappingURL=style.css.map */