@font-face {
  font-family: marvel;
  src: url(./Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}
@font-face {
  font-family: normal;
  src: url(./Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main h1 img {
  height: 50px;
  margin-right: 15px;
}
main nav {
  padding: 45px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0%;
}
main nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  font-weight: 500;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main nav .signup {
  padding: 15px 20px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  color: black;
  background-color: transparent;
}
main nav .login {
  padding: 15px 20px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  background-color: black;
}
main .color {
  display: flex;
}
main .color .red {
  height: 500px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  margin-left: 40px;
}
main .color .blue {
  height: 400px;
  width: 40%;
  border-radius: 100px;
  margin-left: 40px;
}
main .color .blue video {
  width: 100%;
  border-radius: 50px;
}
main .hero1 {
  padding: 30px;
}
main .hero1 .title {
  font-size: 50px;
  font-family: marvel;
  word-spacing: 5px;
  font-weight: 700;
}
main .hero1::-moz-selection {
  color: red;
  background-color: black;
}
main .hero1::selection {
  color: red;
  background-color: black;
}
main .hero1 .title2 {
  font-size: 50px;
  font-family: marvel;
  margin-top: -5px;
  word-spacing: 5px;
  font-weight: 700;
}
main .hero1 .hi {
  font-size: 16px;
  width: 70%;
  margin-top: 8px;
  font-family: normal;
  font-weight: 1100;
}
main .hero1 #btns {
  margin-top: 35px;
}
main .hero1 #btns .b1 {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 300;
}
main .hero1 #btns .b1:hover {
  background-color: #000000;
  color: white;
}
main .hero1 #btns .b2 {
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 300;
}
main .hero1 #btns .b2:hover {
  background-color: #000000;
  color: white;
}
main .hero1 #btns .b3 {
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 300;
}
main .hero1 #btns .b3:hover {
  background-color: #000000;
  color: white;
}
main .hero1 .inputbar {
  padding: 20px;
  width: 700px;
  border: none;
  border-radius: 40px;
  margin-top: 10px;
  color: black;
  background-color: #f5f1f1;
  outline: none;
}
main .hero1 .pop {
  margin-top: 12px;
  padding: 8px;
  font-size: 20px;
}
main .hero1 .pop .para {
  display: inline-block;
}
main .hero1 .type {
  padding: 6px 18px;
  border: 1px solid #bbb7b7;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 100;
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: normal;
}
main .page-2 {
  margin-left: 30px;
  background-color: rgb(220, 218, 218);
  height: 60px;
  width: 95%;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
main .page-2 .b4 {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid;
}/*# sourceMappingURL=style.css.map */