*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: rgb(162, 159, 159);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 35% 1fr 1fr 1fr;
  grid-template-rows: 60% 1fr;
  grid-template-areas: "child1 child2 child2 child2"
                       "child1 child3 child4 child5"
  ;
  
  .child1{
    grid-area: child1;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1605534549749-e2df2f2a701d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wzODk5MTYzM3x8ZW58MHx8fHx8&auto=format&fit=crop&q=60&w=600);
    background-position:center ;
    background-size: cover;
  }
  .child2{
    grid-area: child2;
    border-radius: 10px;
    background-image: url(https://i.pinimg.com/1200x/52/0d/b4/520db4a7e25e34b1e9739d4abe8eab59.jpg);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
  }
  .child3{
    grid-area: child3;
    border-radius: 10px;
     background-image: url(https://images.unsplash.com/photo-1432462770865-65b70566d673?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwzODk5MTYzM3x8ZW58MHx8fHx8&auto=format&fit=crop&q=60&w=600);
     background-position: bottom;
    background-size: cover;
  }
  .child4{
    grid-area: child4;
    border-radius: 10px;
     background-image: url(https://images.unsplash.com/photo-1594573677313-757d4aeea449?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OHwzODk5MTYzM3x8ZW58MHx8fHx8&auto=format&fit=crop&q=60&w=600);
     background-position: center;
    background-size: cover;
  }
  .child5{
    grid-area: child5;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1594637504505-b1b2799ba2fe?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687);
    background-position: center;
    background-size: cover;
  }

}
